@tailwind base;
@tailwind components;
@tailwind utilities;

.logo img{
  height: 50px;
  width: 50px;
}

@media (max-width:600px) {
  .title{
    width: 300px;
    
  }

  .ititle , .idesc{
    width: 94vw;
    line-height: 6px;
    margin: 10px;
    font-size: 7vw;
    padding: 5px;
  }

  .btn{
    width: 94vw;
    height: 55px;
    line-height: 6px;
    margin: 10px;
    font-size: 7vw;
    padding: 5px;
  }
  
  .logo{
    font-size: 1.50rem;
    height: 80px;
    text-align: center;
    justify-content: center;
    line-height: 2;
  }

  .inputb{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}